/* phpcs:ignore */

.settings_question {
    background: #FFF;
    padding: 10px;
    margin: 20px 0;
}

span.csv_download {
    display: block;
    margin-top: 20px;
    width: 100%;
}

span.csv_download a {
    background: #ffff002b;
}
h3 {
    font-weight: 400;
}
