/* phpcs:ignore */

.crowdbutton, .crowdbutton-form {
    /* border: 1px solid black;
    margin: 5px;
    padding: 12px 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    color: #333; */
    font-family: "Open Sans Condensed" !important;
}

#crowdbutton_1 {
  /* background: #7BA780; */
}
#crowdbutton_2 {
  /* background: #A77BA2; */
}
.crowdbutton_thankyou, .form_modal {
  display: none;
}
.disabled {
  color: #CCC;
}
.Modal span {
    font-size: .8em;
    text-align: left;
    display: block;
    margin: 5px 0;
}
.Modal input[type="text"] {
  width: 97%;
  font-size: .8em;
  padding: 5px;
}

.Modal input[type="submit"] {
    margin-top: 10px;
    font-size: .8em;
    background: #732c74;
}
.is-blurred {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.Close {
  color: #aaaaaa;
  float: right;
  font-size: 16px;
}

.Close:hover, .Close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.Modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}
.Modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  max-width: 450px;
}
.ModalOpen { overflow: hidden; }
.is-hidden { display: none; }
.is-visuallyHidden { opacity: 0; }
